<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Files</key>
	<dict>
		<key>ACPI\SSDT-AWAC-DISABLE.aml</key>
		<data>
		duj57umbgcA4TpCPhH+DlAh/Gy+lh222owVo/RzOsk8=
		</data>
		<key>ACPI\SSDT-AWAC.aml</key>
		<data>
		Vgak10a80l0LdRX38zDN83se6a0N4kegci5pmImOPoA=
		</data>
		<key>ACPI\SSDT-DMAC.aml</key>
		<data>
		eyglEizDLiMdkI4ZN1v3NvjL0XGIQVSXw1tlbJowQnU=
		</data>
		<key>ACPI\SSDT-DMAR.aml</key>
		<data>
		OQth4QLyCUEKb761xchq1Z1K7WrLaDIhdrBjZpPiFAI=
		</data>
		<key>ACPI\SSDT-DTPG.aml</key>
		<data>
		2Y4oj+1EhnJJ9wT59C/sXPCQUxFIG2EllMiBYCrUM4g=
		</data>
		<key>ACPI\SSDT-EC-USBX-DESKTOP.aml</key>
		<data>
		HPlBpnZ/yV0qpcJl6C/AyU8FiFpnum+aNP5kOy8S3S4=
		</data>
		<key>ACPI\SSDT-EC-USBX.aml</key>
		<data>
		eAJu0lNhWm9bSQlxC6zmsFFX/zaEEmtSRuj6T00/kx8=
		</data>
		<key>ACPI\SSDT-GPRW.aml</key>
		<data>
		S9mnoDalsQYoFckmixVIWmvmO2tdl/OxYmwzIf7a7WQ=
		</data>
		<key>ACPI\SSDT-PLUG-ALT.aml</key>
		<data>
		jTf3gzuuUPl/NbLHEY0lSwisQ03EOgGwXgjG5PwbFpA=
		</data>
		<key>ACPI\SSDT-UIAC.aml</key>
		<data>
		/bLXG7mw6Z3duB1UzPlTtiS1bGtxgxqtemVpmZW2LBg=
		</data>
		<key>ACPI\SSDT-USBW.aml</key>
		<data>
		qBeruYp9R7oT+uUwx17P5+Pdh4m9W/+fkzIOKU1+dEo=
		</data>
		<key>ACPI\SSDT-USBX.aml</key>
		<data>
		K1uYkKZRJh6KNRi68n3xO6sNYKyIMGU3R4kxR6iLoW8=
		</data>
		<key>Drivers\AudioDxe.efi</key>
		<data>
		4svfWxydV/nRKdmkRJ/odBQVqzmN6O5v1Hc3RJMVmvU=
		</data>
		<key>Drivers\HfsPlus.efi</key>
		<data>
		YZNfOa7Vd9ad+WYoL5P9KIamEcJm33rI8QVYttLXHXg=
		</data>
		<key>Drivers\OpenCanopy.efi</key>
		<data>
		Srgj6td02m7lynvdv8ytIz9HrlAfyEMbov+ojKe1qGk=
		</data>
		<key>Drivers\OpenRuntime.efi</key>
		<data>
		gnbztXMCBZWSEGbXOTKkRPNeiuoNxgTKIB/zvcajWEE=
		</data>
		<key>Drivers\ResetNvramEntry.efi</key>
		<data>
		rEZycqaOT/5z4kjVDO4GvUDogMrH47zpcZ86kZ+D9kg=
		</data>
		<key>Kexts\AirportItlwm.kext\Contents\Info.plist</key>
		<data>
		5qZ/x4YQOJqtMghAfYBZk1xGPQNIepu1/HpwS5Cv8Hw=
		</data>
		<key>Kexts\AirportItlwm.kext\Contents\MacOS\AirportItlwm</key>
		<data>
		xKo3TOw1xLYabPsHsSu9m1ZLTOCbQBu2Fz59G2PKy6U=
		</data>
		<key>Kexts\AppleALC.kext\Contents\Info.plist</key>
		<data>
		Eezwqm7x79+NLmP5TpvKJHBj/S/WrRmlT77fyXQf7CI=
		</data>
		<key>Kexts\AppleALC.kext\Contents\MacOS\AppleALC</key>
		<data>
		2X9UNh27CEBQPfC0aSs+ukBgzIZwQ30eYyqFtMYEnlw=
		</data>
		<key>Kexts\AppleIntelI210Ethernet.kext\Contents\Info.plist</key>
		<data>
		V7lgi0I1eH+YxioUUkNEkjL6hbPxNmTRTkqZIndx0ys=
		</data>
		<key>Kexts\AppleIntelI210Ethernet.kext\Contents\MacOS\AppleIntelI210Ethernet</key>
		<data>
		oxcjAmrGQV9i2oHDfV4oHqm+cjOEY2sRjUvN2fdjB7k=
		</data>
		<key>Kexts\AppleIntelI210Ethernet.kext\Contents\_CodeSignature\CodeResources</key>
		<data>
		MtNMrGzbWE0OqmiwaisaAXnbFohS2JFtZygNdpVHsTQ=
		</data>
		<key>Kexts\AppleIntelI210Ethernet.kext\Contents\version.plist</key>
		<data>
		DPTnO1ULHrpOTxQU/e9L9KeCgfYjruoh51GdKPOQX7s=
		</data>
		<key>Kexts\BlueToolFixup.kext\Contents\Info.plist</key>
		<data>
		BYTSSM58XEplTsWdfiugwQqmIMD/cMGca0obUXlm9co=
		</data>
		<key>Kexts\BlueToolFixup.kext\Contents\MacOS\BlueToolFixup</key>
		<data>
		3jlmkb5WuAwhM/mCDU4Wgpkvku+aoaCF1meSA5KCMR4=
		</data>
		<key>Kexts\CpuTopologyRebuild.kext\Contents\Info.plist</key>
		<data>
		0Qv87+IxNtKROTyr4ZUHUupGecwl+tdfpyC7xkPy4Y0=
		</data>
		<key>Kexts\CpuTopologyRebuild.kext\Contents\MacOS\CpuTopologyRebuild</key>
		<data>
		xWTs4gGTVl97YbblUhKxgytmJqAAdq1Ba/zaNGoms7w=
		</data>
		<key>Kexts\IntelBluetoothFirmware.kext\Contents\Info.plist</key>
		<data>
		TROXJSJxY1xMYt8Jjvx18/ld09S3kv+R/w2TvST+glg=
		</data>
		<key>Kexts\IntelBluetoothFirmware.kext\Contents\MacOS\IntelBluetoothFirmware</key>
		<data>
		DndTh6MtKjHFaRGWlz4PlA8b94mpw+THKruYUnJwigw=
		</data>
		<key>Kexts\Lilu.kext\Contents\Info.plist</key>
		<data>
		nnvnIqwSR+vSXsk/0QA95a4y4YcFJblU5CfnTfaLWM0=
		</data>
		<key>Kexts\Lilu.kext\Contents\MacOS\Lilu</key>
		<data>
		Jdv7pVcD3Jjg+WIMqBJmERHLEaGl1R/KKewtPZ8tzbU=
		</data>
		<key>Kexts\RadeonSensor.kext\Contents\Info.plist</key>
		<data>
		UsWlhaCvG/zuvsStY0zMWwAnQK2gK9PvgX6QvS27zYs=
		</data>
		<key>Kexts\RadeonSensor.kext\Contents\MacOS\RadeonSensor</key>
		<data>
		XX2WTmNZcVh27OAyWTzinm6sj4J++KWDScNdP7FmTSw=
		</data>
		<key>Kexts\RadeonSensor.kext\Contents\_CodeSignature\CodeResources</key>
		<data>
		ZobeEKKKL+EbNsu4bcusyCfPxOoRa02r8YReWu5inps=
		</data>
		<key>Kexts\RestrictEvents.kext\Contents\Info.plist</key>
		<data>
		EXASmgAR3ze/hXUITHMaXUkDhEB8B7eneNjsfbD2zhk=
		</data>
		<key>Kexts\RestrictEvents.kext\Contents\MacOS\RestrictEvents</key>
		<data>
		FpeSNvJywFAJE4guU0fjjVutGEHqYZ/loDEen3aK6k4=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\Info.plist</key>
		<data>
		YwOEcA5VUUgXbIcRWVbteY5fheRDUQ14J2mytBYFimo=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\MacOS\SMCProcessor</key>
		<data>
		rNZF43qISCtV3kHb2wcoax/h0k3l05Kow+K85LecsHQ=
		</data>
		<key>Kexts\SMCRadeonGPU.kext\Contents\Info.plist</key>
		<data>
		hkzIFnNACh1pdMpKJ1YBDCWVgAy4188qA5yIggLC14w=
		</data>
		<key>Kexts\SMCRadeonGPU.kext\Contents\MacOS\SMCRadeonGPU</key>
		<data>
		g1asM+T+uZZBJJDbYDYaj5FTyHe5HSb71VEiyc7uzfQ=
		</data>
		<key>Kexts\SMCRadeonGPU.kext\Contents\_CodeSignature\CodeResources</key>
		<data>
		ZobeEKKKL+EbNsu4bcusyCfPxOoRa02r8YReWu5inps=
		</data>
		<key>Kexts\SMCSuperIO.kext\Contents\Info.plist</key>
		<data>
		IPNFDa2Lr26jbj0e1m+X4V+rxUVT1NdNh2I0Zjkceo0=
		</data>
		<key>Kexts\SMCSuperIO.kext\Contents\MacOS\SMCSuperIO</key>
		<data>
		fYYCcb6ismS83L7PqV8bewElNrOAmWILSAwRXc/7jB8=
		</data>
		<key>Kexts\USBMap.kext\Contents\Info.plist</key>
		<data>
		WMgfpqpCuDfgYSeIFeP7Q4PdkSHMTZrhPLNqXImausQ=
		</data>
		<key>Kexts\USBWakeFixup.kext\Contents\Info.plist</key>
		<data>
		A6GQog5ZOeFsZ6j7FKydNjOW4WTXOg699jArJIEXm1Y=
		</data>
		<key>Kexts\USBWakeFixup.kext\Contents\MacOS\USBWakeFixup</key>
		<data>
		qzk76dypTUyWDG8NP7EBHF7uqOM5wFnKHhwmjW1+epY=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\Info.plist</key>
		<data>
		4qpZi2joKTKS8buBwIW9M0Jwev1uNIjaGprVLJ2eFq4=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\MacOS\VirtualSMC</key>
		<data>
		Uht8t3UeViWaeN9paOmQbzT30qZy4AwW+7BzyQ+fEfc=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\Info.plist</key>
		<data>
		W/h5ugwIYq6CB/XtjBQ4pIgmLoon3Gu7SenLLqEHYZ4=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\MacOS\WhateverGreen</key>
		<data>
		/tjKIMszNk1X2djOO9oLecZXZqY5Led/9YrM4NR+W4A=
		</data>
		<key>Kexts\XHCI-unsupported.kext\Contents\Info.plist</key>
		<data>
		AP5cCW28NJVEJgsgVGTAaLKoHs91Qb5EEup6dS3Sz9A=
		</data>
		<key>Tools\CleanNvram.efi</key>
		<data>
		Eze418Ru844kkZF4Q8byhItFMrhqyK7evYDjIrp85VU=
		</data>
		<key>Tools\OpenShell.efi</key>
		<data>
		PjrEZ1eWWgmchQDoYsB2AtCdsd7DJ/jiHckdQeUKlsg=
		</data>
		<key>Tools\ResetSystem.efi</key>
		<data>
		zfb5foEt/meSxjSJXLjnnEVIYqYE2nTLg/uY9OWJzMY=
		</data>
		<key>config.plist</key>
		<data>
		IW8gthDYocFHxL1F5SwrvZiRdP1pdF5ziPvp3qqbhs4=
		</data>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
